@import "src/styles/globals";

.root {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  --icon-size: 1.5rem;
}

.wrapper {
  @include elev-6();
  border-radius: var(--border-radius);
  border: var(--border-width) solid $primary;
}

.icons {
  padding: var(--padding);
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.iconWrapper {
  margin: var(--padding-half);
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  flex-shrink: 0;
}

.divider {
  margin: unset;
}

.list {
  // Calculated width of .icons
  // (icon width + 2 * half padding of margin either side) * number of icons
  max-width: calc((var(--icon-size) + var(--padding)) * var(--count));
  margin: unset;
  padding: var(--padding);
  display: grid;
  gap: var(--padding-half);
  border-top: 0.25rem solid var(--text);
  text-align: left;
}

// https://stackoverflow.com/a/17347691
.listItem {
  display: inline-block;
  width: 100%;
}

.listItemContent {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
}

.listItemContent > span {
  margin-left: var(--padding);
  white-space: initial;
}

.expandCollapse {
  position: relative;
  top: calc(var(--border-width) * -1);
  padding: 0 var(--padding) var(--padding) var(--padding);
  width: 7rem;
  @include elev-6();
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: var(--border-width) solid $elevation-6;
  border-bottom: var(--border-width) solid $primary;
  border-left: var(--border-width) solid $primary;
  border-right: var(--border-width) solid $primary;
}

@include bp-small {
  .root {
    --icon-size: 1.75rem;
  }

  .expandCollapse {
    width: 7.5rem;
  }
}

@include bp-medium {
  .root {
    --icon-size: 2rem;
  }

  .expandCollapse {
    width: 8rem;
  }
}

@include bp-large {
  .expandCollapse {
    width: 8.5rem;
  }
}
