@import "src/styles/globals";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  --icon-size: 1.5rem;
}

.wrapper {
  @include elev-6();
  border-radius: var(--border-radius);
  border: var(--border-width) solid $primary;
}

.icons {
  padding: var(--padding);
  display: inline-flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.iconWrapper {
  margin: var(--padding-half);
  position: relative;
  width: var(--icon-size);
  height: var(--icon-size);
  flex-shrink: 0;
}

.divider {
  margin: unset;
}

.list {
  // Calculated width of .icons
  // (icon width + 2 * half padding of margin either side) * number of icons + 2 * padding
  max-width: calc(
    (var(--icon-size) + var(--padding)) * var(--count) + var(--padding-double)
  );
  margin: unset;
  padding: var(--padding);
  display: grid;
  gap: var(--padding-half);
  border-top: 0.25rem solid var(--text);
  text-align: left;
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
}

.listItem > span {
  margin-left: var(--padding);
  white-space: break-spaces;
}

.expandCollapseWrapper,
.expandCollapse {
  color: $text-medium-emphasis;
}

.expandCollapseWrapper {
  position: relative;
  top: calc(var(--border-width) * -1);
  padding: 0 var(--padding) var(--padding) var(--padding);
  width: 9rem;
  @include elev-6();
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top: var(--border-width) solid $elevation-6;
  border-bottom: var(--border-width) solid $primary;
  border-left: var(--border-width) solid $primary;
  border-right: var(--border-width) solid $primary;
}

@include bp-small {
  .root {
    --icon-size: 1.75rem;
  }

  .expandCollapseWrapper {
    width: 9.75rem;
  }
}

@include bp-medium {
  .root {
    --icon-size: 2rem;
  }

  .expandCollapseWrapper {
    width: 10.5rem;
  }
}

@include bp-large {
  .expandCollapseWrapper {
    width: 11rem;
  }
}
