@import "src/styles/globals";

.linkButton,
.button {
  display: block;
  white-space: nowrap;
  color: $text;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.linkButton:hover,
.button:hover,
.linkButton:active,
.button:active {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-style: double;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.largeIcon {
  width: 3rem;
  height: 3rem;
}

@include bp-small {
  .icon {
    width: 2.75rem;
    height: 2.75rem;
  }

  .largeIcon {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@include bp-medium {
  .icon {
    width: 3rem;
    height: 3rem;
  }

  .largeIcon {
    width: 4rem;
    height: 4rem;
  }
}

@include bp-large {
  .icon {
    width: 3.4rem;
    height: 3.4rem;
  }

  .largeIcon {
    width: 5rem;
    height: 5rem;
  }
}

@include bp-xl {
  .icon {
    width: 3.75rem;
    height: 3.75rem;
  }

  .largeIcon {
    width: 6rem;
    height: 6rem;
  }
}
