@import "src/styles/globals";

.linkButton {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.iconButton {
  width: 3rem;
  height: 3rem;
}

@include bp-small {
  .iconButton {
    width: 3.5rem;
    height: 3.5rem;
  }
}

@include bp-medium {
  .iconButton {
    width: 4rem;
    height: 4rem;
  }
}

@include bp-large {
  .iconButton {
    width: 5rem;
    height: 5rem;
  }
}

@include bp-xl {
  .iconButton {
    width: 6rem;
    height: 6rem;
  }
}
