@import "src/styles/globals";

.card {
  @include elev-1();
}

.filterButton {
  opacity: 100%;
  transition: opacity 500ms;

  &.opaque {
    opacity: 0%;
  }
}

// .filterButton {
//   transition-duration: 0, 200ms;
//   transition-property: display, opacity;
//   transition-delay: 0;

//   &.hidden {
//     display: none;
//     opacity: 0;
//     transition-duration: 200ms, 0;
//     transition-property: opacity, display;
//     transition-delay: 0, 200ms;
//   }
// }

.keywords {
  display: flex;
  gap: var(--padding-half);
  flex-wrap: wrap;
  justify-content: center;
}
