@import "src/styles/globals";
@import "src/styles/typography";

* {
  box-sizing: border-box;
}

html {
  --border-width: 0.1rem;
  --border-radius: 0.5rem;
  --border-radius-double: calc(var(--border-radius) * 2);
  --content-max-width: 100%;
  --padding-half: calc(var(--padding) / 2);
  --padding: 1rem;
  --padding-double: calc(var(--padding) * 2);
  --padding-triple: calc(var(--padding) * 3);
  --font-size: 1rem;
}

body {
  background-color: $base-colour;
}

main {
  gap: var(--padding-double);
}

@include bp-small {
  html {
    --border-width: 0.125rem;
    --border-radius: 0.75rem;
    --content-max-width: 95%;
    --padding: 1.125rem;
    --font-size: 1.1rem;
  }
}

@include bp-medium {
  html {
    --border-width: 0.15rem;
    --border-radius: 1rem;
    --padding: 1.25rem;
    --font-size: 1.2rem;
  }
}

@include bp-large {
  html {
    --content-max-width: 70rem;
    --font-size: 1.3rem;
  }
}

@include bp-xl {
  html {
    --content-max-width: 90rem;
  }
}
