@import "src/styles/globals";

.root {
  @include elev-9();
  display: flex;
  padding: var(--padding-half);
  position: sticky;
  justify-content: center;
  border-top: var(--border-width) solid $primary;
  border-bottom: var(--border-width) solid $primary;
}

.navBar {
  width: 100%;
  max-width: var(--content-max-width);
  display: flex;
  justify-content: space-between;
}

.homeLink {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.homeLink:hover,
.homeLink:active {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-style: double;
}

.logo {
  position: relative;
  --logo-height: 2rem;
  height: var(--logo-height);
  width: calc(var(--logo-height) / 1.5);
}

.homeLinkText {
  color: $text;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: var(--padding);
}

.links {
  display: flex;
  gap: var(--padding-half);
}

.toolbarInternal,
.toolbarExternal {
  display: none;
  align-items: center;
  gap: var(--padding-half);
}

.toolbarSeperator {
  height: 100%;
  border-right-color: $text;
}

.buttonWrapper {
  display: block;
}

.button {
  width: 2rem;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.menu {
  @include elev-8();
  margin-top: calc(var(--padding-half) + var(--border-width));
  padding: var(--padding-half);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-half);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left: var(--border-width) solid $primary;
  border-bottom: var(--border-width) solid $primary;
  border-right: var(--border-width) solid $primary;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  [data-enter] & {
    opacity: 1;
    transform: scaleY(1);
  }
}

.menuInternal,
.menuExternal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-half);
}

.menuSeperator {
  width: 100%;
  border-bottom-color: $text;
}

@include bp-small {
  .logo {
    --logo-height: 2.25rem;
  }

  .menuInternal {
    display: none;
  }

  .toolbarInternal {
    display: flex;
  }
}

@include bp-medium {
  .menuExternal {
    display: none;
  }

  .toolbarExternal {
    display: flex;
  }

  .buttonWrapper {
    display: none;
  }
}

@include bp-large {
  .logo {
    --logo-height: 2.5rem;
  }
}
