@import "src/styles/globals";

$border-thickness: 0.1rem;

.navBar {
  padding: var(--padding-half);
  position: sticky;
  display: flex;
  justify-content: space-between;
  background-color: $elevation-9;
  border-top-color: $primary;
  border-top-width: $border-thickness;
  border-top-style: solid;
  border-bottom-color: $primary;
  border-bottom-width: $border-thickness;
  border-bottom-style: solid;
}

.homeLink {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.homeLink:hover,
.homeLink:active {
  text-decoration: underline;
  text-decoration-color: $primary;
  text-decoration-style: double;
}

.logo {
  position: relative;
  --logo-height: 2rem;
  height: var(--logo-height);
  width: calc(var(--logo-height) / 1.5);
}

.homeLinkText {
  color: $text;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2rem;
  margin-left: var(--padding);
}

.links {
  display: flex;
  gap: var(--padding-half);
}

.internalLinks,
.externalLinks {
  display: none;
  align-items: center;
  gap: var(--padding-half);
}

.buttonWrapper {
  display: block;
}

.button {
  width: 2rem;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.menu {
  margin-top: calc(var(--padding-half) + $border-thickness);
  padding: var(--padding-half);
  display: flex;
  flex-direction: column;
  background-color: $elevation-8;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-left-color: $primary;
  border-left-width: $border-thickness;
  border-left-style: solid;
  border-bottom-color: $primary;
  border-bottom-width: $border-thickness;
  border-bottom-style: solid;
  border-right-color: $primary;
  border-right-width: $border-thickness;
  border-right-style: solid;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  opacity: 0;
  transform-origin: top center;
  transform: scaleY(0);
  [data-enter] & {
    opacity: 1;
    transform: scaleY(1);
  }
}

@include bp-small {
  .logo {
    --logo-height: 2.25rem;
  }

  .internalLinks {
    display: flex;
  }
}

@include bp-medium {
  .externalLinks {
    display: flex;
  }

  .buttonWrapper {
    display: none;
  }
}

@include bp-large {
  .logo {
    --logo-height: 2.5rem;
  }
}
