@import "src/styles/globals";

.root {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--padding);
}

.title {
  max-width: 50%;
}

.details {
  width: 100%;
  display: grid;
  grid-template-areas:
    "organisation"
    "location"
    "time"
    "type";
  justify-items: center;
  align-items: center;
  gap: var(--padding-half);
}

.organisation,
.location,
.dateRange,
.roleType {
  color: $text-medium-emphasis;
}

.organisation {
  grid-area: organisation;
}

.location {
  grid-area: location;
}

.dateRange {
  grid-area: time;
}

.roleType {
  grid-area: type;
}

@include bp-small {
  .details {
    grid-template-areas:
      "organisation time"
      "location type";
  }
}

@include bp-medium {
  .details {
    width: 75%;
  }
}

@include bp-large {
  .details {
    grid-template-areas: "organisation time location type";
    width: 90%;
  }
}

@include bp-xl {
  .details {
    width: 80%;
  }
}
