@import "src/styles/globals";

.primaryRoot,
.secondaryRoot {
  grid-area: details;
}

.radiusBottomLeft {
  border-bottom-left-radius: var(--border-radius);
}

.primaryWrapper,
.secondaryWrapper {
  display: grid;
  grid-template-areas:
    "organisation location"
    "dateRange dateRange"
    "type type";
  justify-items: center;
  gap: var(--padding);
}

.primaryColour,
.secondaryColour {
  color: $text-medium-emphasis;
}

.organisation,
.location,
.primaryDateRange,
.secondaryDateRange,
.roleType {
  height: 100%;
  width: 100%;
  gap: var(--padding-half);
  align-items: center;
}

.organisation,
.location,
.roleType {
  display: flex;
}

.organisation {
  justify-content: flex-end;
}

.location {
  justify-content: flex-start;
}

.organisation {
  grid-area: organisation;
}

.location {
  grid-area: location;
}

.primaryDateRange,
.secondaryDateRange,
.roleType {
  justify-content: center;
}

.primaryDateRange,
.secondaryDateRange {
  grid-area: dateRange;
  display: flex;
}

.dateIcon {
  grid-area: icon;
}

.primaryStartDate,
.secondaryStartDate {
  grid-area: start;
}

.primaryStartDate::after,
.secondaryStartDate::after {
  content: "-";
  padding-left: var(--padding-half);
}

.endDate {
  grid-area: end;
}

.roleType {
  grid-area: type;
  justify-content: center;
}

@include bp-small {
  .primaryWrapper,
  .secondaryWrapper {
    grid-template-areas:
      "organisation location type"
      "dateRange dateRange dateRange";
    justify-items: start;
  }

  .organisation,
  .location {
    justify-content: flex-start;
  }

  .primaryDateRange,
  .secondaryDateRange {
    justify-content: center;
  }

  .roleType {
    grid-area: type;
    justify-content: flex-start;
  }
}

@include bp-medium {
  .primaryRoot {
    @include elev-5();
    height: 100%;
    padding: var(--padding-double) var(--padding-double) var(--padding-double)
      var(--padding-double);
    border-right: var(--border-width) solid $primary;
    border-top-left-radius: var(--border-radius);
  }

  .primaryWrapper {
    grid-template-areas:
      "organisation"
      "location"
      "type"
      "dateRange";
  }

  .secondaryWrapper {
    grid-template-areas: "organisation location type dateRange";
  }

  .primaryColour {
    color: $text;
  }

  .primaryDateRange {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "icon start"
      ". end";
    justify-items: start;
  }

  .primaryStartDate::after {
    content: unset;
    padding-left: unset;
  }
}
