@import "src/styles/globals";

.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--padding-half);
  width: 100%;
  justify-items: center;
  justify-content: center;
  text-align: center;
  margin: var(--padding-double) auto;
}

@include bp-small {
  .section {
    grid-template-columns: minmax(auto, 35rem);
  }
}

@include bp-medium {
  .section {
    grid-template-columns: minmax(auto, 50rem);
  }
}

@include bp-large {
  .section {
    grid-template-columns: minmax(auto, 70rem);
  }
}

@include bp-xl {
  .section {
    grid-template-columns: minmax(auto, 80rem);
  }
}
