@import "src/styles/globals";

.section {
  max-width: var(--content-max-width);
  display: flex;
  flex-direction: column;
  gap: var(--padding-double);
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: var(--padding-double) auto;
}
