@import "src/styles/globals";

.grid {
  width: 100%;
  display: grid;
  grid-template-areas: "description" "ingredients" "method";
  gap: var(--padding-double);
}

.description,
.toolsIngredientsWrapper,
.methodCard {
  @include elev-1();
}

.description {
  grid-area: description;
}

.descriptionItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
}

.descriptionItem {
  display: flex;
  align-items: center;
  gap: var(--padding);
}

.descriptionItem > svg {
  font-size: 1.5rem;
}

.toolsIngredientsWrapper {
  grid-area: ingredients;
}

.toolsIngredients {
  width: 100%;
}

.method {
  grid-area: method;
  gap: 0;
}

.list,
.methods {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: $text;
  text-align: left;
}

.list {
  margin: var(--padding) 0;
  gap: var(--padding-half);
}

.listItem {
  display: flex;
  align-items: center;
  gap: var(--padding);
}

.listIcon {
  position: relative;
  --bullet-point-height: 0.8rem;
  width: calc(var(--bullet-point-height) * 1.5);
  height: var(--bullet-point-height);
}

.methods {
  gap: var(--padding-triple);
  counter-reset: method;
}

.method {
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
  counter-increment: method;
}

.methodTitle {
  display: flex;
  gap: var(--padding-half);
}

.methodTitle::before {
  content: counter(method) ".";
}

.methodTip {
  display: flex;
  margin-top: var(--padding);
  padding: var(--padding-half);
  @include elev-3();
  flex-direction: column;
  gap: var(--padding-half);
  border: var(--border-width) solid $secondary;
  border-radius: var(--border-radius);
}

.tipTitle {
  display: flex;
  align-items: center;
  gap: var(--padding-half);
}
