@import "src/styles/globals";

.grid {
  width: 100%;
  display: grid;
  grid-template-areas: "description" "ingredients" "method";
  gap: var(--padding-double);
  align-items: start;
}

.descriptionCard,
.toolsIngredientsCard,
.methodCard {
  @include elev-1();
}

.descriptionCard {
  grid-area: description;
}

.toolsIngredientsCard {
  grid-area: ingredients;
}

.methodCard {
  grid-area: method;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 20rem;
}

.imageWrapper > div > img {
  border-radius: var(--border-radius-double);
}

.descriptionItems,
.toolsIngredients {
  width: 75%;
}

.descriptionItemsList,
.toolsIngredientsList {
  margin-top: var(--padding);
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--padding-half);
}

.descriptionItem,
.toolsIngredientsItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--padding);
  color: $text;
  text-align: left;
}

.descriptionItem > svg {
  font-size: 1.5rem;
}

.toolsIngredientsIcon {
  position: relative;
  --bullet-point-height: 0.8rem;
  width: calc(var(--bullet-point-height) * 1.5);
  height: var(--bullet-point-height);
}

.methods {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: var(--padding-triple);
  counter-reset: method;
  list-style-type: none;
  color: $text;
  text-align: left;
}

.method {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  counter-increment: method;
}

.methodTitle {
  display: flex;
  gap: var(--padding-half);
}

.methodTitle::before {
  content: counter(method) ".";
}

.methodTip {
  display: flex;
  padding: var(--padding-half);
  @include elev-6();
  flex-direction: column;
  gap: var(--padding-half);
  border: var(--border-width) solid $secondary;
  border-radius: var(--border-radius);
}

.tipTitle {
  display: flex;
  align-items: center;
  gap: var(--padding-half);
}

@include bp-small {
  .imageWrapper {
    height: 30rem;
  }

  .descriptionItems,
  .toolsIngredients {
    width: 90%;
  }

  .descriptionItemsList,
  .toolsIngredientsList {
    grid-template-columns: 1fr 1fr;
  }
}

@include bp-medium {
  .imageWrapper {
    height: 40rem;
  }

  .descriptionItems,
  .toolsIngredients {
    width: 100%;
  }

  .descriptionItemsList {
    display: flex;
    justify-content: center;
    gap: var(--padding-double);
  }

  .toolsIngredientsList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@include bp-large {
  .imageWrapper {
    height: 45rem;
  }

  .grid {
    grid-template-areas: "description description" "ingredients method";
  }

  .toolsIngredientsList {
    grid-template-columns: 1fr;
  }
}

@include bp-xl {
  .imageWrapper {
    height: 50rem;
  }
}
