@import "src/styles/globals";

.root {
  width: 100%;
  bottom: 0;
  margin: var(--padding-double) auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--padding-half);
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  position: relative;
  --logo-width: 5rem;
  width: var(--logo-width);
  height: calc(var(--logo-width) * 1.5);
}

@include bp-small {
  .root {
    grid-template-columns: minmax(auto, 35rem);
  }

  .logo {
    --logo-width: 6.5rem;
  }
}

@include bp-medium {
  .root {
    grid-template-columns: minmax(auto, 50rem);
  }
}

@include bp-large {
  .root {
    grid-template-columns: minmax(auto, 70rem);
  }

  .logo {
    --logo-width: 9rem;
  }
}

@include bp-xl {
  .root {
    grid-template-columns: minmax(auto, 80rem);
  }
}
