@import "src/styles/globals";

.root {
  width: 100%;
  bottom: 0;
  margin: var(--padding-double) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-double);
}

.logo {
  position: relative;
  --logo-width: 5rem;
  width: var(--logo-width);
  height: calc(var(--logo-width) * 1.5);
}

.text {
  display: flex;
  flex-direction: column;
  gap: var(--padding-half);
  text-align: center;
}

@include bp-small {
  .logo {
    --logo-width: 6.5rem;
  }
}

@include bp-large {
  .logo {
    --logo-width: 9rem;
  }
}
